<form method="post" action="/songs">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Url:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>